<div class="form">
  <h5 class="grtxt">your question:</h5>
  <h4 id="subtitle"><%= @question %></h2>
  <h5 class="grtxt">answer:</h5>
  <h2 id="subtitle"><%= @answer %></p>
  <p class="submit"><%= link_to'Ask a new question', ask_path %></p>
</div>
