<div>
  <form class="form" action="answer">
    <label id="subtitle" for="question">Ask your coach</label>
    <input class="input-container" type="text" id="question" name="question" placeholder="ask something">
    <input class="submit" type="submit" value="ask">
  </form>
</div>
|
